In [2]:
# Load Libraries
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd 

from sklearn.model_selection import train_test_split

from multiprocessing import cpu_count

In [3]:
# Leer datos
dat = pd.read_csv("datasets/i2.csv", sep = ";")

dat

,user,booking_date,origin_airport,price,sales channel,ant,airline
0,user5,01/11/2018,MAD,NaN,online,NaN,i2
1,user7,01/11/2018,DUB,147.500000,online,38.0,i2
2,user4,02/11/2018,TFS,24.049999,online,19.0,i2
3,user8,29/10/2018,MAD,59.709999,online,8.0,i2
4,user7,01/11/2018,NaN,37.299999,call center,4.0,i2
...,...,...,...,...,...,...,...
995,user2,01/11/2018,JMK,NaN,online,29.0,i2
996,user10,01/11/2018,SVQ,NaN,online,39.0,i2
997,user4,30/10/2018,MAD,NaN,online,5.0,i2
998,user10,02/11/2018,CDG,NaN,online,4.0,i2
999,user6,01/11/2018,MAD,98.339996,online,0.0,i2

In [4]:
# opcion 1: Reemplazar valores de la columna sales channel con valores numéricos
## loc: localiza filas y columnas por etiqueta o condición
dat.loc[dat['sales channel'] == 'online', 'sales channel'] = 1
dat.loc[dat['sales channel'] == 'call center', 'sales channel'] = 2
dat.loc[dat['sales channel'] == 'travel agency', 'sales channel'] = 3

dat

,user,booking_date,origin_airport,price,sales channel,ant,airline
0,user5,01/11/2018,MAD,NaN,1,NaN,i2
1,user7,01/11/2018,DUB,147.500000,1,38.0,i2
2,user4,02/11/2018,TFS,24.049999,1,19.0,i2
3,user8,29/10/2018,MAD,59.709999,1,8.0,i2
4,user7,01/11/2018,NaN,37.299999,2,4.0,i2
...,...,...,...,...,...,...,...
995,user2,01/11/2018,JMK,NaN,1,29.0,i2
996,user10,01/11/2018,SVQ,NaN,1,39.0,i2
997,user4,30/10/2018,MAD,NaN,1,5.0,i2
998,user10,02/11/2018,CDG,NaN,1,4.0,i2
999,user6,01/11/2018,MAD,98.339996,1,0.0,i2

In [9]:
# opción 2: Reemplazar valores de la columna sales channel con valores numéricos
## unique: devuelve los valores únicos de una columna
dat.loc[dat['sales channel'] == dat['sales channel'].unique()[0], 'sales channel'] = 1
dat.loc[dat['sales channel'] == dat['sales channel'].unique()[1], 'sales channel'] = 2
dat.loc[dat['sales channel'] == dat['sales channel'].unique()[2], 'sales channel'] = 3

dat

,user,booking_date,origin_airport,price,sales channel,ant,airline
0,1,1,1,NaN,1,NaN,i2
1,2,1,2,147.500000,1,38.0,i2
2,3,2,3,24.049999,1,19.0,i2
3,user8,3,1,59.709999,1,8.0,i2
4,2,1,NaN,37.299999,2,4.0,i2
...,...,...,...,...,...,...,...
995,user2,1,JMK,NaN,1,29.0,i2
996,user10,1,SVQ,NaN,1,39.0,i2
997,3,30/10/2018,1,NaN,1,5.0,i2
998,user10,2,CDG,NaN,1,4.0,i2
999,user6,1,1,98.339996,1,0.0,i2

In [11]:
# opción 3: Reemplazar valores de varias columnas con valores numéricos
for c in ['user', 'booking_date', 'origin_airport']:
    dat.loc[dat[c] == dat[c].unique()[0], c] = 1
    dat.loc[dat[c] == dat[c].unique()[1], c] = 2
    dat.loc[dat[c] == dat[c].unique()[2], c] = 3
dat

,user,booking_date,origin_airport,price,sales channel,ant,airline
0,1,1,1,NaN,1,NaN,i2
1,2,1,2,147.500000,1,38.0,i2
2,3,2,3,24.049999,1,19.0,i2
3,user8,3,1,59.709999,1,8.0,i2
4,2,1,NaN,37.299999,2,4.0,i2
...,...,...,...,...,...,...,...
995,user2,1,JMK,NaN,1,29.0,i2
996,user10,1,SVQ,NaN,1,39.0,i2
997,3,30/10/2018,1,NaN,1,5.0,i2
998,user10,2,CDG,NaN,1,4.0,i2
999,user6,1,1,98.339996,1,0.0,i2

In [12]:
# One Hot Encoding
from sklearn.preprocessing import OneHotEncoder
?OneHotEncoder

Init signature:
OneHotEncoder(
    *,
    categories='auto',
    drop=None,
    sparse='deprecated',
    sparse_output=True,
    dtype=<class 'numpy.float64'>,
    handle_unknown='error',
    min_frequency=None,
    max_categories=None,
)
Docstring:
Encode categorical features as a one-hot numeric array.

The input to this transformer should be an array-like of integers or
strings, denoting the values taken on by categorical (discrete) features.
The features are encoded using a one-hot (aka 'one-of-K' or 'dummy')
encoding scheme. This creates a binary column for each category and
returns a sparse matrix or dense array (depending on the ``sparse_output``
parameter)

By default, the encoder derives the categories based on the unique values
in each feature. Alternatively, you can also specify the `categories`
manually.

This encoding is needed for feeding categorical data to many scikit-learn
estimators, notably linear models and SVMs with the standard kernels.

Note: a one-hot encoding of y labels should use a LabelBinarizer
instead.

Read more in the :ref:`User Guide <preprocessing_categorical_features>`.

Parameters
----------
categories : 'auto' or a list of array-like, default='auto'
    Categories (unique values) per feature:

    - 'auto' : Determine categories automatically from the training data.
    - list : ``categories[i]`` holds the categories expected in the ith
      column. The passed categories should not mix strings and numeric
      values within a single feature, and should be sorted in case of
      numeric values.

    The used categories can be found in the ``categories_`` attribute.

    .. versionadded:: 0.20

drop : {'first', 'if_binary'} or an array-like of shape (n_features,),             default=None
    Specifies a methodology to use to drop one of the categories per
    feature. This is useful in situations where perfectly collinear
    features cause problems, such as when feeding the resulting data
    into an unregularized linear regression model.

    However, dropping one category breaks the symmetry of the original
    representation and can therefore induce a bias in downstream models,
    for instance for penalized linear classification or regression models.

    - None : retain all features (the default).
    - 'first' : drop the first category in each feature. If only one
      category is present, the feature will be dropped entirely.
    - 'if_binary' : drop the first category in each feature with two
      categories. Features with 1 or more than 2 categories are
      left intact.
    - array : ``drop[i]`` is the category in feature ``X[:, i]`` that
      should be dropped.

    When `max_categories` or `min_frequency` is configured to group
    infrequent categories, the dropping behavior is handled after the
    grouping.

    .. versionadded:: 0.21
       The parameter `drop` was added in 0.21.

    .. versionchanged:: 0.23
       The option `drop='if_binary'` was added in 0.23.

    .. versionchanged:: 1.1
        Support for dropping infrequent categories.

sparse : bool, default=True
    Will return sparse matrix if set True else will return an array.

    .. deprecated:: 1.2
       `sparse` is deprecated in 1.2 and will be removed in 1.4. Use
       `sparse_output` instead.

sparse_output : bool, default=True
    Will return sparse matrix if set True else will return an array.

    .. versionadded:: 1.2
       `sparse` was renamed to `sparse_output`

dtype : number type, default=float
    Desired dtype of output.

handle_unknown : {'error', 'ignore', 'infrequent_if_exist'},                      default='error'
    Specifies the way unknown categories are handled during :meth:`transform`.

    - 'error' : Raise an error if an unknown category is present during transform.
    - 'ignore' : When an unknown category is encountered during
      transform, the resulting one-hot encoded columns for this feature
      will be all zeros. In the inverse transform, an unknown category
      will be denoted as None.
    - 'infrequent_if_exist' : When an unknown category is encountered
      during transform, the resulting one-hot encoded columns for this
      feature will map to the infrequent category if it exists. The
      infrequent category will be mapped to the last position in the
      encoding. During inverse transform, an unknown category will be
      mapped to the category denoted `'infrequent'` if it exists. If the
      `'infrequent'` category does not exist, then :meth:`transform` and
      :meth:`inverse_transform` will handle an unknown category as with
      `handle_unknown='ignore'`. Infrequent categories exist based on
      `min_frequency` and `max_categories`. Read more in the
      :ref:`User Guide <one_hot_encoder_infrequent_categories>`.

    .. versionchanged:: 1.1
        `'infrequent_if_exist'` was added to automatically handle unknown
        categories and infrequent categories.

min_frequency : int or float, default=None
    Specifies the minimum frequency below which a category will be
    considered infrequent.

    - If `int`, categories with a smaller cardinality will be considered
      infrequent.

    - If `float`, categories with a smaller cardinality than
      `min_frequency * n_samples`  will be considered infrequent.

    .. versionadded:: 1.1
        Read more in the :ref:`User Guide <one_hot_encoder_infrequent_categories>`.

max_categories : int, default=None
    Specifies an upper limit to the number of output features for each input
    feature when considering infrequent categories. If there are infrequent
    categories, `max_categories` includes the category representing the
    infrequent categories along with the frequent categories. If `None`,
    there is no limit to the number of output features.

    .. versionadded:: 1.1
        Read more in the :ref:`User Guide <one_hot_encoder_infrequent_categories>`.

Attributes
----------
categories_ : list of arrays
    The categories of each feature determined during fitting
    (in order of the features in X and corresponding with the output
    of ``transform``). This includes the category specified in ``drop``
    (if any).

drop_idx_ : array of shape (n_features,)
    - ``drop_idx_[i]`` is the index in ``categories_[i]`` of the category
      to be dropped for each feature.
    - ``drop_idx_[i] = None`` if no category is to be dropped from the
      feature with index ``i``, e.g. when `drop='if_binary'` and the
      feature isn't binary.
    - ``drop_idx_ = None`` if all the transformed features will be
      retained.

    If infrequent categories are enabled by setting `min_frequency` or
    `max_categories` to a non-default value and `drop_idx[i]` corresponds
    to a infrequent category, then the entire infrequent category is
    dropped.

    .. versionchanged:: 0.23
       Added the possibility to contain `None` values.

infrequent_categories_ : list of ndarray
    Defined only if infrequent categories are enabled by setting
    `min_frequency` or `max_categories` to a non-default value.
    `infrequent_categories_[i]` are the infrequent categories for feature
    `i`. If the feature `i` has no infrequent categories
    `infrequent_categories_[i]` is None.

    .. versionadded:: 1.1

n_features_in_ : int
    Number of features seen during :term:`fit`.

    .. versionadded:: 1.0

feature_names_in_ : ndarray of shape (`n_features_in_`,)
    Names of features seen during :term:`fit`. Defined only when `X`
    has feature names that are all strings.

    .. versionadded:: 1.0

See Also
--------
OrdinalEncoder : Performs an ordinal (integer)
  encoding of the categorical features.
sklearn.feature_extraction.DictVectorizer : Performs a one-hot encoding of
  dictionary items (also handles string-valued features).
sklearn.feature_extraction.FeatureHasher : Performs an approximate one-hot
  encoding of dictionary items or strings.
LabelBinarizer : Binarizes labels in a one-vs-all
  fashion.
MultiLabelBinarizer : Transforms between iterable of
  iterables and a multilabel format, e.g. a (samples x classes) binary
  matrix indicating the presence of a class label.

Examples
--------
Given a dataset with two features, we let the encoder find the unique
values per feature and transform the data to a binary one-hot encoding.

>>> from sklearn.preprocessing import OneHotEncoder

One can discard categories not seen during `fit`:

>>> enc = OneHotEncoder(handle_unknown='ignore')
>>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
>>> enc.fit(X)
OneHotEncoder(handle_unknown='ignore')
>>> enc.categories_
[array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
>>> enc.transform([['Female', 1], ['Male', 4]]).toarray()
array([[1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.]])
>>> enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])
array([['Male', 1],
       [None, 2]], dtype=object)
>>> enc.get_feature_names_out(['gender', 'group'])
array(['gender_Female', 'gender_Male', 'group_1', 'group_2', 'group_3'], ...)

One can always drop the first column for each feature:

>>> drop_enc = OneHotEncoder(drop='first').fit(X)
>>> drop_enc.categories_
[array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
>>> drop_enc.transform([['Female', 1], ['Male', 2]]).toarray()
array([[0., 0., 0.],
       [1., 1., 0.]])

Or drop a column for feature only having 2 categories:

>>> drop_binary_enc = OneHotEncoder(drop='if_binary').fit(X)
>>> drop_binary_enc.transform([['Female', 1], ['Male', 2]]).toarray()
array([[0., 1., 0., 0.],
       [1., 0., 1., 0.]])

Infrequent categories are enabled by setting `max_categories` or `min_frequency`.

>>> import numpy as np
>>> X = np.array([["a"] * 5 + ["b"] * 20 + ["c"] * 10 + ["d"] * 3], dtype=object).T
>>> ohe = OneHotEncoder(max_categories=3, sparse_output=False).fit(X)
>>> ohe.infrequent_categories_
[array(['a', 'd'], dtype=object)]
>>> ohe.transform([["a"], ["b"]])
array([[0., 0., 1.],
       [1., 0., 0.]])
File:           c:\users\franz\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages\sklearn\preprocessing\_encoders.py
Type:           type
Subclasses:

In [13]:
# One Hot Encoding
# use OneHotEncoder to encode categorical variables:
ohe = OneHotEncoder(sparse= False, drop = 'first')
ohe.fit(dat[['sales channel']])
ohe.categories_

dat_new

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['int', 'str']